.dropdonButton {
    background-color: var(--marrom);
    color: var(--creme);
    border-radius: 14px;
    padding: 0px;
    position: absolute;
    top: 13%;
    left: 5%;
}

.dropdonButton:hover{
    background-color: var(--marrom);
    border-radius: 14px;
}

.iconeDropdown {
    font-size: 2rem;
    padding: 1px 4px;
}

.listaSumario {
    position: absolute;
    top: 1;
}