.dropdonButton {
    background-color: var(--marrom);
    color: var(--creme);
    border-radius: 14px;
    padding: 0px;
    position: fixed;
    top: 18%;
    left: 10.5%;
    z-index: 1;
}

.dropdonButton:hover{
    background-color: var(--marrom);
    border-radius: 14px;
}

.iconeDropdown {
    font-size: 2.5rem;
    padding: 3px 3px;
}

.listaSumario {
    border-radius: 14.5px;
    position: fixed;
    top: 18%;
    z-index: 0;
    width: 280px;
    font-weight: 400;
    color: var(--branca);
    background-color: var(--laranja);
}

.tituloSumario {
    color: var(--creme)
}

.secaoSumario ol {
    padding-left: 0;
}

@media (min-width: 768px) {
    .dropdonButton {
        top: 22%;
    }

    .listaSumario {
        top: 22%;
        left: 10.5%;
        border-radius: 14.5px;
        min-width: 390px;
    }
}

@media (min-width: 1440px) {
    .dropdonButton {
        display: none;
    }
    .listaSumario {
        color: var(--marrom);
        background-color: transparent;
        left: 5%;
    }
    .tituloSumario {
        color: var(--laranja)
    }
}