.itemLink {
    background-color: var(--laranja);
    color: var(--creme);
}

.itemLink:hover {
    background-color: var(--creme);
    color: var(--laranja);
}

@media (min-width: 768px) {
    .itemLink {
        color: var(--creme);
        background-color: transparent;
    }
    .itemLink:hover {
        color: var(--creme);
        background-color: transparent;
    }

    .linkDestaque {
        background-color: var(--creme);
        height: 0.5rem;
        margin: 0 5rem;
    }
}

@media (min-width: 1440px) {
    .linkDestaque {
        background-color: var(--creme);
        height: 0.5rem;
        margin: 0 12rem;
    }
}