@import url('../../index.css');

header {
    font-family: var(--fonte-secundaria);
    background-color: var(--marrom);
    color: var(--creme);
    text-align: center;
    padding-top: 1rem;
}

nav {
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--creme);
}

i {
    font-size: 2rem;
}

.fc-creme {
    color: var(--creme);
}

.btnMenuHamburguer {
    border: 0px solid transparent;
}

.btnMenuHamburguer:hover {
    border: 0px solid transparent;
}

.nav-itens {
    background-color: var(--laranja);
    color: var(--creme);
}

.menuInterno {
    background-color: var(--laranja);
}

.nav-item a :hover {
    background-color: var(--creme);
    color: var(--laranja);
}

.logoImg {
    max-width: 5rem;
}

@media (min-width: 768px) {
    .logoImg {
        min-width: 10rem;
    }
}

@media (min-width: 1440px) {
    .logoImg {
        min-width: 15rem;
    }
}

